body {
  width: 98vw;
  height: 11300px;
  background: deeppink;
  border: 1.5px solid red;
  background: url("../img/code.png"); }

.wrapper {
  width: inherit;
  height: inherit;
  border: lawngreen; }
  .wrapper .photo {
    width: 300px;
    height: 200px;
    border: 2px solid black;
    position: relative;
    margin: auto; }
    .wrapper .photo img {
      width: inherit;
      height: inherit;
      border: 2px solid red; }
