@-webkit-keyframes lay {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes lay {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes bt-shadows {
  from {
    box-shadow: 5px 3px 3px 2px #6961B8; }
  to {
    box-shadow: 0 0 0 0 #FFFFFF; } }
@keyframes bt-shadows {
  from {
    box-shadow: 5px 3px 3px 2px #6961B8; }
  to {
    box-shadow: 0 0 0 0 #FFFFFF; } }

body {
  width: 99vw;
  height: 300vh;
  background: #96999C; }

header {
  width: inherit;
  height: 15vh;
  position: relative;
  top: 0;
  padding-right: 2px;
  border-bottom: 1px solid lawngreen;
  background: darkslategrey;
  background-image: linear-gradient(135deg, #93CB06 10%, #CB067C 60%, #4154F1 96%);
  opacity: 0.6; }


.navigation {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  color: #fff;
  width: 97vw;
  height: 10vh;
  border: 2px solid aqua;
  border-radius: 25%;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
  .navigation span {
    text-shadow: -2px 2px 2px #E59310, 2px -2px 2px #E59310; }
  .navigation .nav {
    list-style-type: none;
    text-align: center;
    color: #FFFFFF; }
    .navigation .nav li {
      display: inline;
      text-align: center;
      margin-top: 20px; }
      .navigation .nav li a {
        -webkit-animation-name: bt-shadows;
                animation-name: bt-shadows;
        -webkit-animation-direction: alternate;
                animation-direction: alternate;
        -webkit-animation-duration: 2s;
                animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite; }
    .navigation .nav li:nth-child(5) {
      -webkit-animation-name: lay;
              animation-name: lay;
      -webkit-animation-duration: 2s;
              animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
              animation-direction: alternate; }

.scale {
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  grid-column-gap: 5px;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none; }
  .scale div {
    background: aqua;
    opacity: 0.1; }

@font-face {
  font-family: "jua";
  src: url("../src/Font/Jua/Jua-Regular.ttf"); }
.water:hover {
  border: 2px solid aqua !important;
  border-radius: 25% 25% 25% 25%; }

.sub-1 {
  position: fixed;
  top: 0vh;
  background: url("../img/brick.png");
  background-size: cover; }
  .sub-1 .menu {
    display: grid;
    position: relative;
    width: 2vw;
    height: 4vh;
    top: 37%;
    left: 87.5%;
    border: 2px solid #4C94CD;
    border-radius: 25% 25% 25% 25%;
    background: #000;
    opacity: 1; }
    .sub-1 .menu .line-menu {
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 15% 15% 15% 15%;
      background: #FFFFFF; }
    .sub-1 .menu .line-menu:nth-child(1) {
      top: 15%; }
    .sub-1 .menu .line-menu:nth-child(2) {
      top: 45%; }
    .sub-1 .menu .line-menu:nth-child(3) {
      top: 75%; }

.sub-2 {
  position: absolute;
  top: 100vh;
  display: grid;
  grid-template-rows: 50px auto;
  grid-gap: 2px 2px;
  background: darkcyan; }
  .sub-2 .tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center; }
    .sub-2 .tabs a {
      text-decoration: none; }
  .sub-2 .text-tools {
    display: grid;
    grid-template-columns: 1fr 1fr; }

.sub-3 {
  position: absolute;
  top: 200vh;
  display: grid;
  grid-template-rows: 50% 50%;
  background: #0B1E1B; }
  .sub-3 .karusel {
    display: flex;
    flex-flow: column;
    justify-content: center; }
    .sub-3 .karusel .slayder {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 95%;
      height: 90%;
      border: 1px solid aqua;
      border-radius: 25%;
      background: #125E57;
      margin-left: auto;
      margin-right: auto; }
      .sub-3 .karusel .slayder .item-slayder {
        width: 95%;
        height: 80%;
        background: #EEEE6D;
        background-position: center center;
        background-size: 100% 100%;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: auto; }
      .sub-3 .karusel .slayder .item-1 {
        border-radius: 25% 0 0 25%;
        -webkit-clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
                clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
        background-image: url("../img/bosco.jpg"); }
      .sub-3 .karusel .slayder .item-2 {
        background-image: url("../img/robert.jpg"); }
      .sub-3 .karusel .slayder .item-3 {
        border-radius: 0 25% 25% 0;
        -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
                clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
        background-image: url("../img/conor.jpg"); }
    .sub-3 .karusel .three-dot {
      display: flex;
      background: #2AA799;
      border-radius: 25%;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3px;
      width: 100px;
      height: 5%; }
      .sub-3 .karusel .three-dot div {
        background: black;
        border-radius: 50%;
        width: 20px;
        height: 100%; }
      .sub-3 .karusel .three-dot div:nth-child(n+2) {
        margin-left: 2px; }

.wrapper {
  display: grid;
  grid-template-rows: repeat(3, 100vh);
  width: inherit;
  height: 300vh; }
  .wrapper .subwrapper {
    width: inherit;
    height: 100vh; }

@charset "UTF-8";
/*вертикальное положение телефона */
@media (min-width: 0px) and (max-width: 359px) {
  .sub-1 .menu {
    display: grid;
    position: relative;
    width: 9vw;
    height: 4vh;
    top: 37%;
    left: 79%;
    border: 2px solid #4C94CD;
    border-radius: 25% 25% 25% 25%;
    background: #000;
    opacity: 1; }
    .sub-1 .menu .line-menu {
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 15%;
      background: #FFFFFF; }
    .sub-1 .menu .line-menu:nth-child(1) {
      top: 13%; }
    .sub-1 .menu .line-menu:nth-child(2) {
      top: 44%; }
    .sub-1 .menu .line-menu:nth-child(3) {
      top: 75%; }

  .navigation {
    position: relative;
    top: 9vh;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    color: #fff;
    width: 97vw;
    height: 70vh;
    border: 1px solid aqua;
    border-radius: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
    .navigation span {
      position: absolute;
      top: 4vh;
      left: 27vw;
      letter-spacing: 0.2vw;
      text-shadow: -2px 2px 2px #E59310, 2px -2px 2px #E59310; }
    .navigation .nav {
      position: absolute;
      top: 21vh;
      list-style-type: none;
      text-align: center;
      color: #FFFFFF; }
      .navigation .nav li {
        display: block;
        position: absolute;
        left: 24vw;
        height: 6vh;
        text-align: center;
        margin-top: 5px; }
      .navigation .nav li:nth-child(1) {
        top: -5vh; }
      .navigation .nav li:nth-child(2) {
        top: 5vh; }
      .navigation .nav li:nth-child(3) {
        top: 15vh; }
      .navigation .nav li:nth-child(4) {
        top: 25vh; }
      .navigation .nav li:nth-child(5) {
        top: 35vh; }

  .but {
    width: 45vw;
    height: 6vh;
    display: inline-block;
    text-align: center;
    border-radius: 15%;
    text-decoration: none;
    background: #1FF46F;
    font-family: jua;
    letter-spacing: 1px;
    font-size: 0.9rem;
    font-weight: normal;
    color: #000000;
    text-shadow: -1px 1px 1px #ffffff, 1px -1px 1px #ffffff;
    padding-top: 1.3vh; } }

@charset "UTF-8";
/*горизонтальное положение телефона */
@media (min-width: 1441px) and (max-width: 1920px) {
  .sub-1 .menu {
    display: grid;
    position: relative;
    width: 66px;
    height: 3vh;
    top: 37%;
    left: 88.5%;
    border: 2px solid #4C94CD;
    border-radius: 25% 25% 25% 25%;
    background: #000;
    opacity: 1; }
    .sub-1 .menu .line-menu {
      width: 100%;
      height: 2px;
      border-radius: 15%;
      background: #FFFFFF; }
    .sub-1 .menu .line-menu:nth-child(1) {
      top: 13%; }
    .sub-1 .menu .line-menu:nth-child(2) {
      top: 47%; }
    .sub-1 .menu .line-menu:nth-child(3) {
      top: 81%; }

  .navigation {
    display: block;
    position: relative;
    top: 8vh;
    color: #fff;
    width: 97vw;
    height: 70vh;
    border: 1px solid aqua;
    border-radius: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
    .navigation span {
      position: relative;
      top: 3vh;
      left: 0vw;
      font-size: 25px; }
    .navigation .nav {
      position: relative;
      top: 37vh;
      list-style-type: none;
      text-align: center;
      color: #FFFFFF; }
      .navigation .nav li {
        position: absolute;
        display: block;
        text-align: center; }
      .navigation .nav li:nth-child(1) {
        top: -27vh;
        left: 6vw; }
      .navigation .nav li:nth-child(2) {
        top: 9vh;
        left: 6vw; }
      .navigation .nav li:nth-child(3) {
        top: -27vh;
        left: 64vw; }
      .navigation .nav li:nth-child(4) {
        top: 9vh;
        left: 64vw; }
      .navigation .nav li:nth-child(5) {
        top: -9vh;
        left: 35vw; }

  .but {
    width: 26vw;
    height: 6vh;
    display: inline-block;
    text-align: center;
    border-radius: 15%;
    text-decoration: none;
    background: #1FF46F;
    font-family: jua;
    letter-spacing: 1px;
    font-size: 1.3rem;
    font-weight: normal;
    color: #000000;
    text-shadow: -1px 1px 1px #ffffff, 1px -1px 1px #ffffff;
    padding-top: 1.9vh; } }

@charset "UTF-8";
/*горизонтальное положение телефона */
@media (min-width: 1281px) and (max-width: 1440px) {
  .sub-1 .menu {
    display: grid;
    position: relative;
    width: 66px;
    height: 3vh;
    top: 37%;
    left: 88.5%;
    border: 2px solid #4C94CD;
    border-radius: 25% 25% 25% 25%;
    background: #000;
    opacity: 1; }
    .sub-1 .menu .line-menu {
      width: 100%;
      height: 2px;
      border-radius: 15%;
      background: #FFFFFF; }
    .sub-1 .menu .line-menu:nth-child(1) {
      top: 13%; }
    .sub-1 .menu .line-menu:nth-child(2) {
      top: 47%; }
    .sub-1 .menu .line-menu:nth-child(3) {
      top: 81%; }

  .navigation {
    display: block;
    position: relative;
    top: 8vh;
    color: #fff;
    width: 97vw;
    height: 70vh;
    border: 1px solid aqua;
    border-radius: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
    .navigation span {
      position: relative;
      top: 3vh;
      left: 0vw;
      font-size: 25px; }
    .navigation .nav {
      position: relative;
      top: 37vh;
      list-style-type: none;
      text-align: center;
      color: #FFFFFF; }
      .navigation .nav li {
        position: absolute;
        display: block;
        text-align: center; }
      .navigation .nav li:nth-child(1) {
        top: -27vh;
        left: 6vw; }
      .navigation .nav li:nth-child(2) {
        top: 9vh;
        left: 6vw; }
      .navigation .nav li:nth-child(3) {
        top: -27vh;
        left: 64vw; }
      .navigation .nav li:nth-child(4) {
        top: 9vh;
        left: 64vw; }
      .navigation .nav li:nth-child(5) {
        top: -9vh;
        left: 35vw; }

  .but {
    width: 26vw;
    height: 6vh;
    display: inline-block;
    text-align: center;
    border-radius: 15%;
    text-decoration: none;
    background: #1FF46F;
    font-family: jua;
    letter-spacing: 1px;
    font-size: 1.3rem;
    font-weight: normal;
    color: #000000;
    text-shadow: -1px 1px 1px #ffffff, 1px -1px 1px #ffffff;
    padding-top: 1.9vh; } }

@charset "UTF-8";
/*горизонтальное положение телефона */
@media (min-width: 800px) and (max-width: 1280px) {
  .sub-1 .menu {
    display: grid;
    position: relative;
    width: 66px;
    height: 36px;
    top: 37%;
    left: 84%;
    border: 2px solid #4C94CD;
    border-radius: 25% 25% 25% 25%;
    background: #000;
    opacity: 1; }
    .sub-1 .menu .line-menu {
      width: 100%;
      height: 2px;
      border-radius: 15%;
      background: #FFFFFF; }
    .sub-1 .menu .line-menu:nth-child(1) {
      top: 13%; }
    .sub-1 .menu .line-menu:nth-child(2) {
      top: 47%; }
    .sub-1 .menu .line-menu:nth-child(3) {
      top: 81%; }

  .navigation {
    display: block;
    position: relative;
    top: 8vh;
    color: #fff;
    width: 97vw;
    height: 70vh;
    border: 1px solid aqua;
    border-radius: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
    .navigation span {
      position: relative;
      top: 3vh;
      left: 0vw;
      font-size: 25px; }
    .navigation .nav {
      position: relative;
      top: 37vh;
      list-style-type: none;
      text-align: center;
      color: #FFFFFF; }
      .navigation .nav li {
        position: absolute;
        display: block;
        text-align: center; }
      .navigation .nav li:nth-child(1) {
        top: -27vh;
        left: 6vw; }
      .navigation .nav li:nth-child(2) {
        top: 9vh;
        left: 6vw; }
      .navigation .nav li:nth-child(3) {
        top: -27vh;
        left: 64vw; }
      .navigation .nav li:nth-child(4) {
        top: 9vh;
        left: 64vw; }
      .navigation .nav li:nth-child(5) {
        top: -9vh;
        left: 35vw; }

  .but {
    width: 26vw;
    height: 6vh;
    display: inline-block;
    text-align: center;
    border-radius: 15%;
    text-decoration: none;
    background: #1FF46F;
    font-family: jua;
    letter-spacing: 1px;
    font-size: 1.3rem;
    font-weight: normal;
    color: #000000;
    text-shadow: -1px 1px 1px #ffffff, 1px -1px 1px #ffffff;
    padding-top: 1.9vh; } }

@charset "UTF-8";
/*горизонтальное положение телефона */
@media (min-width: 480px) and (max-width: 799px) {
  .sub-1 .menu {
    display: grid;
    position: relative;
    width: 41px;
    height: 35px;
    top: 27%;
    left: 84.5%;
    border: 2px solid #4C94CD;
    border-radius: 25% 25% 25% 25%;
    background: #000;
    opacity: 1; }
    .sub-1 .menu .line-menu {
      width: 100%;
      height: 2px;
      border-radius: 15%;
      background: #FFFFFF; }
    .sub-1 .menu .line-menu:nth-child(1) {
      top: 13%; }
    .sub-1 .menu .line-menu:nth-child(2) {
      top: 44%; }
    .sub-1 .menu .line-menu:nth-child(3) {
      top: 75%; }

  .navigation {
    display: block;
    position: relative;
    top: 8vh;
    color: #fff;
    width: 97vw;
    height: 70vh;
    border: 1px solid aqua;
    border-radius: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
    .navigation span {
      position: relative;
      top: 3vh;
      left: 0vw;
      font-size: 18px; }
    .navigation .nav {
      position: relative;
      top: 37vh;
      list-style-type: none;
      text-align: center;
      color: #FFFFFF; }
      .navigation .nav li {
        position: absolute;
        display: block;
        text-align: center; }
      .navigation .nav li:nth-child(1) {
        top: -27vh;
        left: 6vw; }
      .navigation .nav li:nth-child(2) {
        top: 9vh;
        left: 6vw; }
      .navigation .nav li:nth-child(3) {
        top: -27vh;
        left: 64vw; }
      .navigation .nav li:nth-child(4) {
        top: 9vh;
        left: 64vw; }
      .navigation .nav li:nth-child(5) {
        top: -9vh;
        left: 35vw; }

  .but {
    width: 26vw;
    height: 6vh;
    display: inline-block;
    text-align: center;
    border-radius: 15%;
    text-decoration: none;
    background: #1FF46F;
    font-family: jua;
    letter-spacing: 1px;
    font-size: 0.9rem;
    font-weight: normal;
    color: #000000;
    text-shadow: -1px 1px 1px #ffffff, 1px -1px 1px #ffffff;
    padding-top: 1.7vh; } }

@charset "UTF-8";
/*горизонтальное положение телефона */
@media (min-width: 360px) and (max-width: 479px) {
  .sub-1 .menu {
    display: grid;
    position: relative;
    width: 11vw;
    height: 7vh;
    top: 24%;
    left: 77%;
    border: 2px solid #4C94CD;
    border-radius: 25% 25% 25% 25%;
    background: #000;
    opacity: 1; }
    .sub-1 .menu .line-menu {
      width: 100%;
      height: 2px;
      border-radius: 15%;
      background: #FFFFFF; }
    .sub-1 .menu .line-menu:nth-child(1) {
      top: 13%; }
    .sub-1 .menu .line-menu:nth-child(2) {
      top: 44%; }
    .sub-1 .menu .line-menu:nth-child(3) {
      top: 75%; }

  .navigation {
    display: block;
    position: relative;
    top: 8vh;
    color: #fff;
    width: 97vw;
    height: 70vh;
    border: 1px solid aqua;
    border-radius: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
    .navigation span {
      position: relative;
      top: 3vh;
      left: 0vw; }
    .navigation .nav {
      position: relative;
      top: 37vh;
      list-style-type: none;
      text-align: center;
      color: #FFFFFF; }
      .navigation .nav li {
        position: absolute;
        display: block;
        text-align: center; }
      .navigation .nav li:nth-child(1) {
        top: -27vh;
        left: 6vw; }
      .navigation .nav li:nth-child(2) {
        top: 9vh;
        left: 6vw; }
      .navigation .nav li:nth-child(3) {
        top: -27vh;
        left: 64vw; }
      .navigation .nav li:nth-child(4) {
        top: 9vh;
        left: 64vw; }
      .navigation .nav li:nth-child(5) {
        top: -9vh;
        left: 35vw; }

  .but {
    width: 26vw;
    height: 7vh;
    display: inline-block;
    text-align: center;
    border-radius: 15%;
    text-decoration: none;
    background: #1FF46F;
    font-family: jua;
    letter-spacing: 1px;
    font-size: 0.9rem;
    font-weight: normal;
    color: #000000;
    text-shadow: -1px 1px 1px #ffffff, 1px -1px 1px #ffffff;
    padding-top: 1.3vh; } }
