extends ../src/pug/template/main.pug

append link
	link(rel = 'stylesheet' href = "css/style.css")
	
block title
	title Понимание основ JS 

block body
	body
		block content
			.wrapper
				.box
					button(type = "button") Клик-1
				.box
					button(type = "button") Клик-2


			prepend scripts
				script(src = 'script.js')

