
.navigation
  display: grid
  grid-template-rows: repeat(2, 1fr)
  color: #fff
  width: 97vw
  height: 10vh
  border: 2px solid red
  border-radius: 25%
  text-align: center
  margin:
    left: auto
    right: auto
  .nav
    list-style-type: none
    text-align: center
    color: #FFFFFF

    li
      display: inline
      text-align: center
      margin-top: 20px

  @media (min-width: 769px)
    li:nth-child(n+2)
      margin-left: 4%


