@import "feath.sass"

.sub-1
  position: fixed
  top: 0vh
  background: url('../img/brick.png')
  background-size: 100% 100%

  .menu
    display: flex

    position: relative
    top: 37%
    left: 87.5%

    width: 3.5vw
    height: 4vh
    
    align-items: center

    border: 2px solid #4C94CD
    border-radius: 25% 25% 25% 25%
    background: #000
    &:hover,
    &:active
      border: 2px solid #00FFFF
      span, 
      &::before,
      &::after
        background-color: red


    #menu
      opacity: 0
      display: none

    .menu_btn
      display: flex
      align-items: center

      width: 100%
      height: 100%

      cursor: pointer

      z-index: 10
      
      span
        position: relative

      span, span::before, span::after
        display: block

        width: 100%
        height: 0.125rem

        background-color: #ffffff
        &::before,
        &::after
          background-color: red        

      span::before
        content: ""

        position: relative
        top: -0.625rem

      span::after
        content: ""

        position: relative
        top: 0.53rem

  .submenu
    display: flex
    visibility: hidden
    justify-content: space-around
    align-items: center

    transition: all 2s linear .2s

    text-align: center
    
    opacity: 0

    max-width: 70%
    min-width: 15%
    height: 4rem

    position: relative
    top: 60px

    margin: 0 auto

    .sector
      color: #7FFF00
      text-decoration: none
      text-shadow: -2px 2px 2px #E59310, 2px -2px 2px #E59310

      font-family: "black_H_S", sans-serif
      font-weight: 700

      outline: none

      &:hover,&active
        &:after
          background-color: #000000 
          text-shadow: -2px 2px 2px #DCDCDC, 2px -2px 2px #DCDCDC

          display: block
      &:after
        content: ""
        display: none

        width: 100%
        height: 2px

        position: relative
        bottom: -5px
        left: 0
        z-index: 1

        transition-duration: 2s




