.wrapper
  width: inherit
  height: inherit
  border: lawngreen
  .photo
    width: 300px
    height: 200px
    border: 2px solid black

    position: relative
    margin: auto
    img
      width: inherit
      height: inherit
      //background-image: url('./img/code.png')
      border: 2px solid red






