section.subwrapper.sub-1
  header
    .menu.water
    .line-menu
    .line-menu
    .line-menu
    nav.navigation
      span EFFECTS
      ul.nav
        li
          a.but(href='src/html/polygon.html') POLYGON
        li
          a.but(href='src/html/gradient.html') GRADIENT
        li
          a.but(href='src/html/transform.html') TRANSFORM
        li
          a.but(href='src/html/animation.html') ANIMATION
        li
          a.but(href='src/html/button.html') BUTTONS

      