doctype html(lang='en')
head
    meta(charset='UTF-8')
    |
    meta(name='description', content='')
    |
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |
    link(rel='stylesheet', href='css/normalize.css')
    |
    link(rel='stylesheet', href='css/style.css')

    script(src='js/sub2.js')
    |
    title cSsREMEMBER
  body
    section.wrapper
      .scale
        div
        |
        div
        |
        div
        |
        div
        |
        div
        |
        div
        |
        div
        |
        div
        |
        div
        |
        div
        |
        div
        |
        div
        |
        div
        |
        div
        |
        div
        |
        div
        |
        div
        |
        div
        |
        div
        |
        div
        |
        div
        |
        div
      |
      section.subwrapper.sub-1
        header
          .menu.water
            .line-menu
            |
            .line-menu
            |
            .line-menu
        |
        nav.navigation
          span EFFECTS
          |
          ul.nav
            li
              a.but(href='src/html/polygon.html') POLYGON
            |
            li
              a.but(href='src/html/gradient.html') GRADIENT
            |
            li
              a.but(href='src/html/transform.html') TRANSFORM
            |
            li
              a.but(href='src/html/animation.html') ANIMATION
            |
            li
              a.but(href='src/html/button.html') BUTTONS
        // <div> </div>
      |
      section.subwrapper.sub-2
        .tabs
          a.gulp(href='#', onclick='return false') GULP
          |
          a.webpack(href='#', onclick='return false') WEBPACK
        // <button class="chek"></button>
        .text-tools
          .CONTENT-1
          |
          .CONTENT-2
      |
      section.subwrapper.sub-3
        .karusel
          a(href='img/left.png')
          |
          .slayder
            .item-slayder.item-1
            |
            .item-slayder.item-2
            |
            .item-slayder.item-3
          |
          a(href='img/right.png')
          |
          .three-dot
            div
            |
            div
            |
            div
        |
        .karusel
          .slayder
            .item-slayder.item-1
            |
            .item-slayder.item-2
            |
            .item-slayder.item-3
          |
          .three-dot
            div
            |
            div
            |
            div