header
  width: inherit
  height: 15vh

  position: relative
  top: 0

  padding-right: 2px
  
  // border-bottom: 1px solid lawngreen
  background: darkslategrey
  background-image: linear-gradient(135deg, #109100 10%, #200623 60%, #030000 96%)
  opacity: 0.6

