.sub-2
  position: absolute
  top: 100vh
  display: grid
  grid-template-rows: 50px auto
  grid-gap: 2px 2px
  background: darkcyan
  overflow: hidden
  .tabs
    display: grid
    grid-template-columns: repeat(8, 1fr)
    grid-template-areas: "GULP GULP GULP GULP WEBPACK WEBPACK WEBPACK WEBPACK"
    align-content: stretch
    background: #475C59
    text-align: center
    .gulp
      grid-area: GULP
    .gulp:active ~ #CONTENT-1
      transform: translateX(-300px)
    .webpack
      grid-area: WEBPACK
    a
      text-decoration: none
      padding-top: 15px
      border:
        left: 1px solid #EDEEEC
        right: 1px solid #EDEEEC
      color: #7E7067
      font-family: sans-serif
      font-size: large
      text-shadow: -0.5px 0.5px 0.5px #E59310, 0.5px -0.5px 0.5px #E59310
    a:hover
      color: #FFFFFF



  .text-tools
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr
    //удалить после
    .CONTENT-1
      border: 1px solid red
      background: #0B1E1B
      position: relative
      left: 90vw
      width: 100vw
      clip-path: polygon(10% 0,100% 0, 100% 100%, 10% 100%, 10% 10%, 0% 5%)
    .CONTENT-1:active
      z-index: 100
      width: 110vw
      transform: translateX(-101vw)
      transition-duration: 3s
    .read-content
      left: 0%
      border: 1px solid red
      background: #0B1E1B
      position: relative
      width: 100vw





