//- header

.header
    .toolbar
        .txt_menu      
          - var item;
          ul
              each item in ['HOME','ABOUT','SHOP', 'CONTACT']
                  li  
                    a(class = item href="#") #{item}
        .burger_menu
            input#menu(type = "checkbox")
            label.menu_btn(for = "menu")
                span

    .name_site
        .summer
        .website

    .full_template
        span FULL TEMPLATE
        div
            div
        div #{div_lor1} #{div_lor2}
        a(href="#") read more
        

        
