@font-face {
  font-family: "jua";
  src: url("../src/Font/Jua/Jua-Regular.ttf"); }
@font-face {
  font-family: "black_H_S";
  src: url("../src/Font/BlackHanSans-Regular.ttf"); }
@font-face {
  font-family: "Nanum_gotic_R";
  src: url("../src/Font/Nanum_Gothic/NanumGothic-Regular.ttf"); }
@font-face {
  font-family: "Nanum_gotic_E";
  src: url("../src/Font/Nanum_Gothic/NanumGothic-ExtraBold.ttf"); }
.water:hover {
  border: 2px solid aqua !important;
  border-radius: 25% 25% 25% 25%; }

.sub-1 {
  position: fixed;
  top: 0vh;
  background: url("../img/brick.png");
  background-size: 100% 100%; }
  .sub-1 .menu {
    display: flex;
    position: relative;
    top: 37%;
    left: 87.5%;
    width: 3.5vw;
    height: 4vh;
    align-items: center;
    border: 2px solid #4C94CD;
    border-radius: 25% 25% 25% 25%;
    background: #000; }
    .sub-1 .menu #menu {
      opacity: 0;
      display: none; }
    .sub-1 .menu .menu_btn {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      cursor: pointer;
      z-index: 10; }
      .sub-1 .menu .menu_btn span {
        position: relative; }
      .sub-1 .menu .menu_btn span, .sub-1 .menu .menu_btn span::before, .sub-1 .menu .menu_btn span::after {
        display: block;
        width: 100%;
        height: 0.125rem;
        background-color: #ffffff; }
      .sub-1 .menu .menu_btn span::before {
        content: "";
        position: relative;
        top: -0.625rem; }
      .sub-1 .menu .menu_btn span::after {
        content: "";
        position: relative;
        top: 0.53rem; }
  .sub-1 .submenu {
    display: none;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    text-align: center;
    max-width: 70%;
    min-width: 15%;
    height: 4rem;
    position: relative;
    top: 81px;
    margin: 0 auto;
    transition: all 1.5s linear 0.2s; }
    .sub-1 .submenu .sector {
      color: #7FFF00;
      text-decoration: none;
      text-shadow: -2px 2px 2px #E59310, 2px -2px 2px #E59310;
      font-family: "black_H_S", sans-serif;
      font-weight: 700; }
      .sub-1 .submenu .sector:hover:after, .sub-1 .submenu .sectoractive:after {
        background-color: #FFFF00;
        text-shadow: -2px 2px 2px #E59310, 2px -2px 2px #E59310;
        display: block; }
      .sub-1 .submenu .sector:after {
        content: "";
        display: none;
        width: 100%;
        height: 2px;
        position: relative;
        bottom: -5px;
        left: 0;
        z-index: 1;
        transition-duration: 2s; }
