section.subwrapper.sub-3
  .karusel
    a(href='img/left.png')
    .slayder
      .item-slayder.item-1
      .item-slayder.item-2
      .item-slayder.item-3
    a(href='img/right.png')
    .three-dot
      div
      div
      div
  .karusel
    .slayder
      .item-slayder.item-1
      .item-slayder.item-2
      .item-slayder.item-3
    .three-dot
      div
      div
      div
        