section.subwrapper.sub-2
	.tabs
		a.gulp(href="JavaScript: new Date().toLocaleTimeString();", onclick='return false') GULP
		a.webpack(href='#', onclick='return false') WEBPACK
	.text-tools
		.ui
			p.zoom
				span.zoom.zoomin +
				span.zoom.zoomout -
			p.zoomlevel
				span.percent 100
				|  % - (
				span.width
				| px)(
				span.height
				| px)
			p
				| Dead: 
				span.dead 0
			p
				| Alive: 
				span.alive 0
			p
				| Drawn: 
				span.drawn 0
			p
				span.fps 0
				|  FPS
		.nav_panel

			.CONTENT.gulp
				input.section#gulp(type = "checkbox" onchange = "activate();")
				label.choose_section(for = "gulp")
			.CONTENT.webpack
				input.section#webpack(type = "checkbox" onchange = "activate();")
				label.choose_section(for = "webpack")


