.sub-2 {
  position: absolute;
  top: 100vh;
  display: grid;
  grid-template-rows: 50px auto;
  grid-gap: 2px 2px;
  overflow: hidden; }
  .sub-2 .tabs {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "GULP GULP GULP GULP WEBPACK WEBPACK WEBPACK WEBPACK";
    align-content: stretch;
    height: 52px;
    background: #475C59;
    text-align: center; }
    .sub-2 .tabs .gulp {
      grid-area: GULP; }
    .sub-2 .tabs .webpack {
      grid-area: WEBPACK; }
    .sub-2 .tabs a {
      text-decoration: none;
      padding-top: 10px;
      color: #7E7067;
      font-family: sans-serif;
      font-size: large;
      text-shadow: -0.5px 0.5px 0.5px #E59310, 0.5px -0.5px 0.5px #E59310;
      outline: none; }
      .sub-2 .tabs a:nth-child(1) {
        border-right: 1px solid #EDEEEC; }
      .sub-2 .tabs a:nth-child(2) {
        border-left: 1px solid #EDEEEC; }
      .sub-2 .tabs a:hover {
        color: #FFFFFF; }
    .sub-2 .tabs .interactiv {
      background-color: rgba(0, 0, 0, 0.5);
      color: #ffffff; }
  .sub-2 .text-tools {
    position: relative; }
    .sub-2 .text-tools canvas {
      background: white;
      background: radial-gradient(#FFF, #DDD);
      transform-origin: 0 0;
      width: 100%;
      height: 100%; }
    .sub-2 .text-tools .ui {
      display: none;
      position: absolute;
      z-index: 5;
      bottom: 0;
      left: 0;
      width: 120px;
      padding: 10px;
      background: rgba(255, 255, 255, 0.7); }
      .sub-2 .text-tools .ui p {
        font-size: 11px;
        font-weight: 700; }
        .sub-2 .text-tools .ui p.zoom {
          margin-bottom: 5px; }
          .sub-2 .text-tools .ui p.zoom span {
            margin-right: 5px;
            border: solid 1px #777;
            cursor: pointer;
            border-radius: 2px; }
            .sub-2 .text-tools .ui p.zoom span.zoomin {
              padding: 2px 5px; }
            .sub-2 .text-tools .ui p.zoom span.zoomout {
              padding: 2px 8px; }
            .sub-2 .text-tools .ui p.zoom span:hover {
              background: black;
              color: white; }
    .sub-2 .text-tools .nav_panel {
      display: flex;
      justify-content: space-around;
      flex-flow: column;
      position: absolute;
      right: 0;
      width: 100px;
      height: 100%; }
    .sub-2 .text-tools .CONTENT {
      background: #0B1E1B;
      position: relative;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 1px solid #ed3cca;
      margin: 0 auto;
      transition-property: scale;
      transition-duration: 1s;
      transition-timing-function: linear; }
      .sub-2 .text-tools .CONTENT:hover, .sub-2 .text-tools .CONTENT:active {
        transform: scale(1.02); }
      .sub-2 .text-tools .CONTENT .section {
        display: none; }
      .sub-2 .text-tools .CONTENT .choose_section {
        position: absolute;
        left: 0;
        top: 0;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        cursor: pointer; }
