@font-face {
  font-family: "jua";
  src: url("../src/Font/Jua/Jua-Regular.ttf"); }
@font-face {
  font-family: "black_H_S";
  src: url("../src/Font/BlackHanSans-Regular.ttf"); }
@font-face {
  font-family: "Nanum_gotic_R";
  src: url("../src/Font/Nanum_Gothic/NanumGothic-Regular.ttf"); }
@font-face {
  font-family: "Nanum_gotic_E";
  src: url("../src/Font/Nanum_Gothic/NanumGothic-ExtraBold.ttf"); }
@font-face {
  font-family: "Inconsolata";
  src: url("..src/Font/Inconsolata/Inconsolata-Regular.ttf"); }
.water:hover {
  border: 2px solid aqua !important;
  border-radius: 25% 25% 25% 25%; }

.sub-1 {
  position: fixed;
  top: 0vh;
  background: url("../img/brick.png");
  background-size: 100% 100%; }
  .sub-1 header {
    width: inherit;
    height: 15vh;
    position: relative;
    top: 0;
    padding-right: 2px;
    border-bottom: 1px solid lawngreen;
    background-image: linear-gradient(135deg, #93CB06 10%, #CB067C 60%, #4154F1 96%);
    opacity: 0.6; }
  .sub-1 .menu {
    display: flex;
    opacity: 0;
    position: relative;
    top: 37%;
    left: 87.5%;
    width: 3.5vw;
    height: 4vh;
    align-items: center;
    border-radius: 25% 25% 25% 25%; }
    .sub-1 .menu:hover span, .sub-1 .menu:hover::before, .sub-1 .menu:hover::after, .sub-1 .menu:active span, .sub-1 .menu:active::before, .sub-1 .menu:active::after {
      background-color: red; }
    .sub-1 .menu #menu {
      opacity: 0;
      display: none; }
    .sub-1 .menu .menu_btn {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      cursor: pointer;
      z-index: 10; }
      .sub-1 .menu .menu_btn span {
        position: relative; }
      .sub-1 .menu .menu_btn span, .sub-1 .menu .menu_btn span::before, .sub-1 .menu .menu_btn span::after {
        display: block;
        border-radius: 10%;
        width: 100%;
        height: 0.25rem;
        background-color: #ffffff; }
        .sub-1 .menu .menu_btn span::before, .sub-1 .menu .menu_btn span::after, .sub-1 .menu .menu_btn span::before::before, .sub-1 .menu .menu_btn span::before::after, .sub-1 .menu .menu_btn span::after::before, .sub-1 .menu .menu_btn span::after::after {
          background-color: red; }
      .sub-1 .menu .menu_btn span::before {
        content: "";
        position: relative;
        top: -0.625rem; }
      .sub-1 .menu .menu_btn span::after {
        content: "";
        position: relative;
        top: 0.35rem; }
  .sub-1 .submenu {
    display: flex;
    visibility: hidden;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s linear 0.1s;
    text-align: center;
    opacity: 0;
    max-width: 70%;
    min-width: 15%;
    height: 4rem;
    position: relative;
    top: 60px;
    margin: 0 auto; }
    .sub-1 .submenu .sector {
      color: red;
      text-decoration: none;
      text-shadow: -2px 2px 1px #E59310, 2px -2px 2px #E59315;
      font-family: "Inconsolata", sans-serif;
      font-weight: 800;
      font-size: 1.2rem;
      letter-spacing: 0.18em;
      outline: none; }
      .sub-1 .submenu .sector:hover:after, .sub-1 .submenu .sectoractive:after {
        background-color: #000000;
        text-shadow: -2px 2px 2px #DCDCDC, 2px -2px 2px #DCDCDC;
        display: block; }
      .sub-1 .submenu .sector:after {
        content: "";
        width: 100%;
        height: 2px;
        position: relative;
        bottom: -5px;
        left: 0;
        z-index: 1;
        transition-duration: 2s; }
